force-app/main/default/flows/MAS_Run_Mass_Action_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Run_Mass_Action</name>
        <label>Run Mass Action</label>
        <locationX>709</locationX>
        <locationY>213</locationY>
        <actionName>dca_mass_action__MA_RunConfigInvocable</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Set_Stage_3</targetReference>
        </connector>
        <inputParameters>
            <name>configUniqueName</name>
            <value>
                <elementReference>ChooseMassActionConfig</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>varJobId</assignToReference>
            <name>jobId</name>
        </outputParameters>
    </actionCalls>
    <assignments>
        <name>Set_Stage_1</name>
        <label>Set Stage 1</label>
        <locationX>193</locationX>
        <locationY>50</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Stage_01_Choose_Action</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ChooseActionScreen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Stage_2</name>
        <label>Set Stage 2</label>
        <locationX>360</locationX>
        <locationY>213</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Stage_02_Confirm_Action</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ConfirmActionScreen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Stage_3</name>
        <label>Set Stage 3</label>
        <locationX>710</locationX>
        <locationY>378</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Stage_03_Summary</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ReviewActionScreen</targetReference>
        </connector>
    </assignments>
    <dynamicChoiceSets>
        <name>varConfigRecords</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filters>
            <field>dca_mass_action__Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>dca_mass_action__Mass_Action_Configuration__c</object>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>dca_mass_action__DeveloperName__c</valueField>
    </dynamicChoiceSets>
    <formulas>
        <name>varJobId15</name>
        <dataType>String</dataType>
        <expression>LEFT({!varJobId}, 15)</expression>
    </formulas>
    <interviewLabel>MAS: Run Mass Action Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>MAS: Run Mass Action Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <name>ChooseActionScreen</name>
        <label>Choose Action</label>
        <locationX>359</locationX>
        <locationY>50</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Set_Stage_2</targetReference>
        </connector>
        <fields>
            <name>ChooseActionPath</name>
            <extensionName>dca_mass_action:MA_FlowStagePathCmp</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>$Flow.CurrentStage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>ChooseMassActionConfig</name>
            <choiceReferences>varConfigRecords</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Mass Action Configuration</fieldText>
            <fieldType>DropdownBox</fieldType>
            <helpText>&lt;p&gt;Choose an active Mass Action Configuration to run.&lt;/p&gt;</helpText>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>ChooseMassActionNote</name>
            <fieldText>&lt;p&gt;Only active configurations are available to run.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>ConfirmActionScreen</name>
        <label>Confirm Action</label>
        <locationX>534</locationX>
        <locationY>214</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Run_Mass_Action</targetReference>
        </connector>
        <fields>
            <name>ConfirmActionPath</name>
            <extensionName>dca_mass_action:MA_FlowStagePathCmp</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>$Flow.CurrentStage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>ConfirmActionNote</name>
            <fieldText>&lt;p&gt;Click &lt;b&gt;Next&lt;/b&gt; to run the configuration &lt;b&gt;{!ChooseMassActionConfig}&lt;/b&gt;.&lt;/p&gt;&lt;p&gt;Click &lt;b&gt;Previous&lt;/b&gt; to choose a different configuration.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>ReviewActionScreen</name>
        <label>Review Action</label>
        <locationX>876</locationX>
        <locationY>380</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ReviewActionPath</name>
            <extensionName>dca_mass_action:MA_FlowStagePathCmp</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>$Flow.CurrentStage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>ReviewActionNote</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;Batch Job Submitted&lt;/b&gt;&lt;/p&gt;&lt;p&gt;{!varJobId15}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Review the related Mass Action Logs for progress updates and any error messages.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <stages>
        <name>Stage_01_Choose_Action</name>
        <isActive>true</isActive>
        <label>Choose Action</label>
        <stageOrder>1</stageOrder>
    </stages>
    <stages>
        <name>Stage_02_Confirm_Action</name>
        <isActive>true</isActive>
        <label>Confirm Action</label>
        <stageOrder>2</stageOrder>
    </stages>
    <stages>
        <name>Stage_03_Summary</name>
        <isActive>true</isActive>
        <label>Summary</label>
        <stageOrder>3</stageOrder>
    </stages>
    <startElementReference>Set_Stage_1</startElementReference>
    <status>Active</status>
    <variables>
        <name>varJobId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>